$grey1: #DDD;
$grey2: #F5F6F7;
$c1: #d0000e;
$w: 35px;
@keyframes vueDatePicker {
	0% {
		opacity: 0;
		transform: translate(-50%, -50%) scale(0);
	}

	100% {
		opacity: 1;
		transform: translate(0) scale(1);
	}
}

.vue-datepicker {
	position: relative;
	margin: 0;
	padding: 0;
	font-family: verdana;
	font-size: 14px;
	color: #666;

	* {
		margin: 0;
		padding: 0;
	}

	input {
		display: block;
		width: $w * 7;
		height: 28px;
		padding-left: 6px;
		border: 1px solid $grey1;
		outline: none;
	}

	.vue-datepicker-panels {
		position: absolute;
		z-index: 99999;
		left: 0;
		background-color: #FFF;
		width: $w * 7;
		border: 1px solid $grey1;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.18);
		padding: 10px 6px;
		animation: vueDatePicker 0.1s ease-out;
	}

	.vue-datepicker-panel {
		.vue-datepicker-month {
			padding-bottom: 4px;
			height: $w;
			line-height: $w;
			overflow: hidden;
			text-align: center;

			a {
				float: left;
				display: block;
				width: $w;
				cursor: pointer;
				color: #999;
				font-size: 12px;

				&:hover {
					background-color: $grey2;
				}
			}

			span {
				float: left;
				display: block;
				width: $w * 5;

				&.vue-datepicker-btn {
					&:hover {
						background-color: $grey2;
						cursor: pointer;
					}
				}
			}
		}

		.vue-datepicker-tb,
		.vue-datepicker-tb2 {
			width: $w * 7;
			border-collapse: collapse;
			text-align: center;

			thead {
				background-color: $grey2;
				height: $w;
				line-height: $w;
				border-top: 1px solid $grey1;
				border-bottom: 1px solid $grey1;

				tr {
					border: none;

					th {
						width: $w;
						font-size: 12px;
						border: none;
						font-weight: normal;
					}
				}
			}

			tbody {
				tr {
					border-top: 1px solid #EEE;

					td {
						height: $w * 0.9;

						&.z-existed {
							cursor: pointer;

							span {
								display: block;
								height: $w * 0.62;
								line-height: $w * 0.62;
							}

							&:hover {
								background-color: $grey2;
								color: $c1;
							}

							&.z-on {
								span {
									color: #FFF;
									background-color: $c1;
								}
							}

							&.z-invalid {
								cursor: default;

								span {
									color: #ccc;
								}

								&:hover {
									background-color: transparent;
								}
							}
						}
					}
				}
			}
		}

		.vue-datepicker-tb2 {
			tbody {
				tr {
					border-top: 1px solid #EEE;

					td {
						height: $w * 0.9;
						padding: 4px 10px;
						font-size: 13px;

						&.z-existed {
							cursor: pointer;

							span {
								display: block;
								height: $w * 0.65;
								line-height: $w * 0.65;
							}
						}
					}
				}
			}
		}
	}
}
