@-webkit-keyframes vueDatePicker {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1); } }

@keyframes vueDatePicker {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1); } }

.vue-datepicker {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: verdana;
  font-size: 14px;
  color: #666; }
  .vue-datepicker * {
    margin: 0;
    padding: 0; }
  .vue-datepicker input {
    display: block;
    width: 245px;
    height: 28px;
    padding-left: 6px;
    border: 1px solid #DDD;
    outline: none; }
  .vue-datepicker .vue-datepicker-panels {
    position: absolute;
    z-index: 99999;
    left: 0;
    background-color: #FFF;
    width: 245px;
    border: 1px solid #DDD;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.18);
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.18);
    padding: 10px 6px;
    -webkit-animation: vueDatePicker 0.1s ease-out;
            animation: vueDatePicker 0.1s ease-out; }
  .vue-datepicker .vue-datepicker-panel .vue-datepicker-month {
    padding-bottom: 4px;
    height: 35px;
    line-height: 35px;
    overflow: hidden;
    text-align: center; }
    .vue-datepicker .vue-datepicker-panel .vue-datepicker-month a {
      float: left;
      display: block;
      width: 35px;
      cursor: pointer;
      color: #999;
      font-size: 12px; }
      .vue-datepicker .vue-datepicker-panel .vue-datepicker-month a:hover {
        background-color: #F5F6F7; }
    .vue-datepicker .vue-datepicker-panel .vue-datepicker-month span {
      float: left;
      display: block;
      width: 175px; }
      .vue-datepicker .vue-datepicker-panel .vue-datepicker-month span.vue-datepicker-btn:hover {
        background-color: #F5F6F7;
        cursor: pointer; }
  .vue-datepicker .vue-datepicker-panel .vue-datepicker-tb,
  .vue-datepicker .vue-datepicker-panel .vue-datepicker-tb2 {
    width: 245px;
    border-collapse: collapse;
    text-align: center; }
    .vue-datepicker .vue-datepicker-panel .vue-datepicker-tb thead,
    .vue-datepicker .vue-datepicker-panel .vue-datepicker-tb2 thead {
      background-color: #F5F6F7;
      height: 35px;
      line-height: 35px;
      border-top: 1px solid #DDD;
      border-bottom: 1px solid #DDD; }
      .vue-datepicker .vue-datepicker-panel .vue-datepicker-tb thead tr,
      .vue-datepicker .vue-datepicker-panel .vue-datepicker-tb2 thead tr {
        border: none; }
        .vue-datepicker .vue-datepicker-panel .vue-datepicker-tb thead tr th,
        .vue-datepicker .vue-datepicker-panel .vue-datepicker-tb2 thead tr th {
          width: 35px;
          font-size: 12px;
          border: none;
          font-weight: normal; }
    .vue-datepicker .vue-datepicker-panel .vue-datepicker-tb tbody tr,
    .vue-datepicker .vue-datepicker-panel .vue-datepicker-tb2 tbody tr {
      border-top: 1px solid #EEE; }
      .vue-datepicker .vue-datepicker-panel .vue-datepicker-tb tbody tr td,
      .vue-datepicker .vue-datepicker-panel .vue-datepicker-tb2 tbody tr td {
        height: 31.5px; }
        .vue-datepicker .vue-datepicker-panel .vue-datepicker-tb tbody tr td.z-existed,
        .vue-datepicker .vue-datepicker-panel .vue-datepicker-tb2 tbody tr td.z-existed {
          cursor: pointer; }
          .vue-datepicker .vue-datepicker-panel .vue-datepicker-tb tbody tr td.z-existed span,
          .vue-datepicker .vue-datepicker-panel .vue-datepicker-tb2 tbody tr td.z-existed span {
            display: block;
            height: 21.7px;
            line-height: 21.7px; }
          .vue-datepicker .vue-datepicker-panel .vue-datepicker-tb tbody tr td.z-existed:hover,
          .vue-datepicker .vue-datepicker-panel .vue-datepicker-tb2 tbody tr td.z-existed:hover {
            background-color: #F5F6F7;
            color: #d0000e; }
          .vue-datepicker .vue-datepicker-panel .vue-datepicker-tb tbody tr td.z-existed.z-on span,
          .vue-datepicker .vue-datepicker-panel .vue-datepicker-tb2 tbody tr td.z-existed.z-on span {
            color: #FFF;
            background-color: #d0000e; }
          .vue-datepicker .vue-datepicker-panel .vue-datepicker-tb tbody tr td.z-existed.z-invalid,
          .vue-datepicker .vue-datepicker-panel .vue-datepicker-tb2 tbody tr td.z-existed.z-invalid {
            cursor: default; }
            .vue-datepicker .vue-datepicker-panel .vue-datepicker-tb tbody tr td.z-existed.z-invalid span,
            .vue-datepicker .vue-datepicker-panel .vue-datepicker-tb2 tbody tr td.z-existed.z-invalid span {
              color: #ccc; }
            .vue-datepicker .vue-datepicker-panel .vue-datepicker-tb tbody tr td.z-existed.z-invalid:hover,
            .vue-datepicker .vue-datepicker-panel .vue-datepicker-tb2 tbody tr td.z-existed.z-invalid:hover {
              background-color: transparent; }
  .vue-datepicker .vue-datepicker-panel .vue-datepicker-tb2 tbody tr {
    border-top: 1px solid #EEE; }
    .vue-datepicker .vue-datepicker-panel .vue-datepicker-tb2 tbody tr td {
      height: 31.5px;
      padding: 4px 10px;
      font-size: 13px; }
      .vue-datepicker .vue-datepicker-panel .vue-datepicker-tb2 tbody tr td.z-existed {
        cursor: pointer; }
        .vue-datepicker .vue-datepicker-panel .vue-datepicker-tb2 tbody tr td.z-existed span {
          display: block;
          height: 22.75px;
          line-height: 22.75px; }
